#!/bin/bash

OSX_SYSROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.1.sdk

function do_cmake_build
{
    cmake \
        -DCMAKE_OSX_SYSROOT=${OSX_SYSROOT} \
        -DCMAKE_OSX_ARCHITECTURES=x86_64 \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=${INSTALL_DIR} \
        -DBUILD_PERF_TESTS=OFF \
        -DBUILD_TESTS=OFF \
        -DBUILD_SHARED_LIBS=OFF \
        -DBUILD_opencv_apps=OFF \
        -DBUILD_opencv_rgbd=OFF \
        -DBUILD_opencv_python2=OFF \
        -DBUILD_opencv_python3=OFF \
        -DBUILD_FAT_JAVA_LIB=OFF \
        -DBUILD_JAVA=OFF \
        -DWITH_TBB=ON \
        -DBUILD_TBB=ON \
        -DWITH_EIGEN=OFF \
        -DINSTALL_BIN_EXAMPLES=OFF \
        -DOPENCV_EXTRA_MODULES_PATH="${OCV_CONTRIB_DIR}" \
        ../..
    cmake --build .
    cmake --install .
}
