#!/bin/bash

function do_cmake_build
{
    cmake \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_INSTALL_PREFIX=${INSTALL_DIR} \
        -DBUILD_PERF_TESTS=OFF \
        -DBUILD_TESTS=OFF \
        -DBUILD_SHARED_LIBS=OFF \
        -DBUILD_opencv_apps=OFF \
        -DBUILD_FAT_JAVA_LIB=OFF \
        -DBUILD_JAVA=OFF \
        -DWITH_TBB=ON \
        -DBUILD_TBB=ON \
        -DBUILD_opencv_python2=OFF \
        -DBUILD_opencv_python3=OFF \
        -DWITH_EIGEN=OFF \
        -DINSTALL_BIN_EXAMPLES=OFF \
        -DOPENCV_EXTRA_MODULES_PATH="${OCV_CONTRIB_DIR}" \
        ../..
    cmake --build .
    cmake --install .
}
