#!/bin/bash

ABIS_TO_BUILD="armeabi-v7a arm64-v8a x86 x86_64"
SDK_PATH=/opt/android/android-sdk
NDK_PATH=/opt/android/android-sdk/ndk/21.3.6528147
NDK_BIN_PATH="${NDK_PATH}/toolchains/llvm/prebuilt/linux-x86_64/bin"

function make_abi
{
    ABI=$1
    echo "Building ABI" ${ABI} in $(pwd)/${ABI}
    
    if [ -d $ABI ]; then
        echo "deleting old build folder"
        rm -rf $ABI
    fi
    mkdir $ABI
    cd $ABI
    
    cmake \
        -GNinja \
        -DCMAKE_C_COMPILER="${NDK_BIN_PATH}/clang" \
        -DCMAKE_CXX_COMPILER="${NDK_BIN_PATH}/clang++" \
        -DANDROID_NDK="$NDK_PATH" \
        -DCMAKE_TOOLCHAIN_FILE="${NDK_PATH}/build/cmake/android.toolchain.cmake" \
        -DANDROID_SDK="$SDK_PATH" \
        -DANDROID_NATIVE_API_LEVEL=21 \
        -DCMAKE_INSTALL_PREFIX="${INSTALL_DIR}" \
        -DCMAKE_BUILD_TYPE=Release \
        -DWITH_TBB=ON \
        -DANDROID_ABI=$ABI \
        -DBUILD_SHARED_LIBS=OFF \
        -DBUILD_ANDROID_PROJECTS=OFF \
        -DBUILD_ANDROID_EXAMPLES=OFF \
        -DBUILD_PERF_TESTS=OFF \
        -DBUILD_TESTS=OFF \
        -DBUILD_FAT_JAVA_LIB=OFF \
        -DBUILD_JAVA=OFF \
        -DOPENCV_EXTRA_MODULES_PATH="${OCV_CONTRIB_DIR}" \
        ../../..

    cmake --build . --config Release --target all
    cmake --install .

    # somehow we need to explicitly strip because debug symbols are also added in release build
    LIBS_PATH="${INSTALL_DIR}/sdk/native/staticlibs/${ABI}"
    THIRDPARTY_LIBS_PATH="${INSTALL_DIR}/sdk/native/3rdparty/libs/${ABI}"
    STRIP_COMMAND="${NDK_BIN_PATH}/llvm-strip"
    for archive in "${LIBS_PATH}/*.a"; do
        ${STRIP_COMMAND} --strip-debug $archive
    done
    for archive in "${THIRDPARTY_LIBS_PATH}/*.a"; do
        ${STRIP_COMMAND} --strip-debug $archive
    done

    cd ..
}

function do_cmake_build
{
    echo Building $CV_VERSION for ABIs $ABIS_TO_BUILD
    for ABI in ${ABIS_TO_BUILD}; do
        make_abi ${ABI}
    done
}
